body {
    background-image: url("/assets/images/lyra_prototype_texture_1.png");
    background-repeat: repeat;
    padding: 0px;
    margin: 0px;
}

label {
    color: white;
}

#primary-card {
    background: black;
    width: 1200px;
    height: 800px;
    margin: 100px auto;
    border-radius: 5px;
}

#menu-title {
    font-size: 8em;
    color: white;
}

#login-title, #create-user-title {
    font-size: 3em;
    color: white;
}

#language-selection {
    width: 100%;
}

#form-card {
    margin-top: 25px;
    padding: 25px 25px 50px 25px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid white;
}

#form-card button, #create-user-button, #create-user-link {
    margin: 25px auto -10px;
    width: 100%;
}

#submit-button, #create-user-button, #create-user-link {
    min-height: 65px;
    display: block;
}

a {
    color: inherit;
}

a: visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: inherit;
}

#form-card label {
    font-size: 2em;
}
