/******************************************************************************
 * GENERAL STYLES
 *****************************************************************************/
body {
    
}

a:link {
    text-decoration: none;
}



/******************************************************************************
 * PAGE: LOGIN
 *****************************************************************************/
.small-form-btn {
    width: 100%;
    transition: background-color 0.3s;
}

.small-form-row h1, .small-form-row h3 {
    text-align: center;
}

#login-card {
    border-radius: 5px;
    margin-bottom: 50px;
    padding-bottom: 15px;
}

/******************************************************************************
 * COLORS
 *****************************************************************************/
.small-form-btn {
    color: white;
    background-color: #555559;
}

.small-form-btn:hover {
    color: #555559;
    background-color: white;
    border: 1px solid #555559;
}

#login-card {
    background: lightgray;
}